*CMakeCache.txt
*.o
*.so
*.a
*.d
*.out
*.exe
*.obj
*.dll
*.lib

*Makefile

*/CMakeFiles/*
*/CMakeFiles*
*CMakeFiles*
*cmake_install.cmake

*main
*main-debug

*.png
*.jpg
*.jpeg
*.bmp
*.tga
*.hdr

*.vscode*